<nz-tabset [nzTabPosition]="'top'" [nzType]="'line'" style="height:100%;">
    <nz-tab style="height:100%;" [nzTitle]="nzTabHeading">
        <ng-template #nzTabHeading>
            <i ngClass="anticon anticon-apple"></i>
            设计
        </ng-template>
        <nz-layout style="height:100%;">
            <!-- <div style="width: 0;" #left></div> -->
            <!-- <nz-sider nzCollapsible [(nzCollapsed)]="isLeftCollapsed" [nzTrigger]="null" [nzWidth]="leftSiderWidth" #leftSider> -->
            <nz-sider nzCollapsible [(nzCollapsed)]="isLeftCollapsed">
                <a-sider-menu [values]="controlsData" [isCollapsed]="isLeftCollapsed" [draggable]="'true'"></a-sider-menu>
            </nz-sider>
            <!-- <div id="line" (mousedown)="mousedown($event)"></div> -->
            <!-- <div style="width: 0;" #right></div> -->
            <nz-content>
                <a-design-content></a-design-content>
            </nz-content>
            <nz-sider nzCollapsible [(nzCollapsed)]="isRightCollapsed">
                <a-sider-menu [values]="attributesData" [isCollapsed]="isRightCollapsed"></a-sider-menu>
            </nz-sider>
        </nz-layout>
    </nz-tab>
    <nz-tab [nzTitle]="nzTabHeading">
        <ng-template #nzTabHeading>
            <i ngClass="anticon anticon-apple"></i>
            源码
        </ng-template>
        <span>Content of Tab Pane 源码</span>
    </nz-tab>
</nz-tabset>
